@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 54 100% 91%;
    --foreground: 224 71.4% 4.1%;
    --card: 60 56% 91%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 60 56% 91%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 88 20% 55%;
    --primary-foreground: 88 25% 95%;
    --secondary: 88 15% 85%;
    --secondary-foreground: 88 20% 35%;
    --muted: 88 15% 88%;
    --muted-foreground: 224 71.4% 4.1%;
    --accent: 88 20% 75%;
    --accent-foreground: 88 20% 35%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 88 20% 80%;
    --input: 88 20% 88%;
    --ring: 88 20% 55%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 88 20% 65%;
    --primary-foreground: 88 20% 25%;
    --secondary: 88 15% 25%;
    --secondary-foreground: 88 20% 85%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 88 20% 35%;
    --accent-foreground: 88 20% 95%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 88 20% 35%;
    --input: 88 20% 35%;
    --ring: 88 20% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
